:root {
  --recipes-primary: mediumpurple;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}

.recipes-navbar {
  margin: 0px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    vertical-align: middle;
    max-width: 42px;
    max-height: 42px;
  }

  form {
    display: flex;

    input {
      flex-grow: 1;
    }
  }

  .navbar-content {
    flex-grow: 1;
    max-width: 600px;
    margin: 0 10px;
  }
}