:root {
  --breakpoint-tablet: 768px;
  --breakpoint-mobile: 480px;
}

body {
  background-color: #e7e7e7;
  font-family: Verdana, sans-serif;
  margin: 0;
}

section {
  background-color: white;
  margin: 1rem 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #region Image Content Block */

.image-content-block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "image content";
  align-items: center; /* vertical centering */
  border: green 1px solid;
}

.image-content-block-right {
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "content image";
}

.image-content-block-image {
  grid-area: image;
  object-fit: cover; /* or contain */
  width: 100%;
  /* min-height: 100px; */
  height: 100%;
  border: red 1px solid;
}

.image-content-block-content {
  grid-area: content;
  padding: 20px;
  border: blue 1px solid;
}

.image-content-block-content-heading {
  display: flex;
  align-items: center;
}

.image-content-block-content-heading img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: inline-block;
  object-fit: cover;
}

/* Can't use variables in media queries. */
@media (max-width: 768px) {
  .image-content-block {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .image-content-block-image {
    grid-column: 1;
    grid-row: 1;
  }
  .image-content-block-content {
    grid-column: 1;
    grid-row: 2;
  }
}

/*#endregion*/

/* #region Variable Content Block */

.variable-content-block {
  display: grid;
  
  column-gap: 10px;
  row-gap: 10px;
  justify-items: left;
  align-items: center;
  max-width: 400px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.variable-content-block img {
  grid-area: image;
  max-width: 100%;
  max-height: 100%;
}

.variable-content-block h3 {
  grid-area: heading;
}

.variable-content-block p {
  grid-area: text;
  text-align: j;
}

.variable-content-block button {
  grid-area: button;
  max-width: none;
}

.variable-content-block.stack {
  grid-template: 
            "image" auto
            "heading" auto
            "text" auto
            "button" auto;
}

.variable-content-block.heading-icon {
  grid-template: 
            "image heading" auto
            "text text" 1fr
            "button button" auto / 60px 1fr;
}

.variable-content-block.side-icon {
  grid-template: 
            "image heading" auto
            "image text" auto
            "image button" auto / 2fr 3fr;
}

/*#endregion*/

/* #region Info Banner */

.info-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 400px;
  align-items: center;
}

.info-banner-image {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.info-banner-text {
  grid-column: 1;
  grid-row: 1;
  padding: 20px;
  color: white;
}

@media (max-width: 768px) {
  .info-banner {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .info-banner-image {
    grid-row: 1;
    min-height: 200px;
  }

  .info-banner-text {
    grid-row: 2;
    color: black;
  }
}

/*#endregion*/

/* #region Simple Table */

.simple-table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0px;
}

.simple-table th, .simple-table td {
  padding: 10px;
  text-align: left;
}

.simple-table th {
  background-color: #f0f0f0;
}

.simple-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.simple-table tr:nth-child(odd) {
  background-color: #ffffff;
}

/* Make the first column twice as wide */
.simple-table th:nth-child(1), .simple-table td:nth-child(1) {
  width: 50%;
}

/*#endregion*/

/* #region Fancy Table */

.fancy-table {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(3, 1fr);
  background-color: #f0f0f0;
}

.fancy-table-entry {
  display: grid;
  grid-row: 1 / -1;
  grid-template-rows: subgrid;
}

.fancy-table-entry div {
  padding: 10px;
  display: flex;
  align-items: center;
}

.fancy-table-entry:not(.fancy-table-labels) > :first-child {
  background: lightcoral;
  border-radius: 1rem;
  margin: 10px;
  margin-left: 0;
  font-weight: bold;
}

.fancy-table-entry label {
  display: none;
}

.fancy-table-labels {
  font-weight: bold;
}

@media not (max-width: 768px) {
  .fancy-table-entry :not(:first-child):nth-child(odd) {
    background-color: lightblue;
  }
}

@media (max-width: 768px) {
  .fancy-table {
    display: block;
    background-color: initial;
  }

  .fancy-table-entry label {
    display: flex;
    width: 125px;
    font-weight: bold;
  }

  .fancy-table-entry {
    background-color: lightgoldenrodyellow;
    margin: 10px 0;
  }

  .fancy-table-entry div {
    padding: 0px 10px;
  }

  .fancy-table-entry > :first-child:not(:empty) {
    background: initial;
  }

  .fancy-table-labels {
    display: none;
  }
}

/*#endregion*/

/* #region Slider */

.banner-slider {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.banner-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.banner-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  opacity: 0;
  padding: 1rem;
}

.banner-slide.active {
  transform: translateX(0);
  opacity: 1;
}

.banner-slide.previous {
  transform: translateX(-100%);
  opacity: 0;
}

.banner-slide.next {
  transform: translateX(100%);
  opacity: 0;
}

.banner-slide.out-next {
  transform: translateX(-100%);
  opacity: 1;
}

.banner-slide.out-previous {
  transform: translateX(100%);
  opacity: 1;
}

/*#endregion*/

/* #region Carousel */

.carousel {
  --current-slide: 0;
  position: relative;
  overflow: hidden;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.carousel-button-next {
  right: 0;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicator {
  width: 60px;
  height: 10px;
  margin: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: rgba(255, 255, 255, 1);
}

.carousel-indicator:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(calc(-100% * var(--current-slide)));
}

.carousel-slide {
  flex: 0 0 100%;
  text-align: center;
  height: 150px;
}

/*#endregion*/